@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap');
@font-face {
    font-family: Retro;
    src: url(retro_computer_personal_use.ttf);
}

body {
  background-color: black;
  margin:0;
  padding:0;
  overflow: hidden;
  color:white;
}

#main-content {
  width:60%;
  text-align: center;
  margin:auto;
  position: relative;

  animation:fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation:fadeIn 3s;
}
#main-content p {
  font-family: Lexend;
  font-size: 24px;
  margin:0;
  padding:0;
  margin-top:64px;
}
#main-content h1 {
  font-family: Lexend;
  margin-top: -420px;
  font-size:42px;
}
#main-content img {
  width:100%;
  margin:0;
  padding:0;
  margin-top:-200px;
}

#main-content #links ul {
  list-style-type: none;
  padding:0;
  overflow: hidden;
  padding-top:16px;
}
#main-content #links li {
  padding:8px;
  margin:0 32px 0 32px;
  display:inline-block;
  font-size: 30px;
  position: relative;
}
#main-content #links li:after {
  content:'';
  position: absolute;
  width:100%;
  transform:scaleX(0);
  height: 2px;
  bottom: 0;
  left:0;
  background-color:white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
#main-content #links li:hover:after {
  transform:scaleX(1);
  transform-origin: bottom left;
}
#main-content #links li a {
  color:white;
  text-decoration: none;
}

#footer {
  color:white;
  font-family: Lexend;
  text-align: center;
  position: fixed;
  bottom:0;
  width:100%;
  font-weight: 400;
  color:rgba(255,255,255,0.1);

  animation:fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation:fadeIn 3s;
}
#footer ul {
  list-style-type: none;
  padding:0;
  overflow: hidden;
}
#footer li {
  padding: 8px;
  margin:0 8px 0 8px;
  display:inline-block;
  font-size:16px;
  position: relative;
}
#footer li:after {
  content:'';
  position: absolute;
  width:100%;
  transform:scaleX(0);
  height: 2px;
  bottom: 0;
  left:0;
  background-color:white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
#footer li:hover:after {
  transform:scaleX(1);
  transform-origin: bottom left;
}
#footer a {
  color:white;
  text-decoration: none;
}


@keyframes fadeIn {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
@-moz-keyframes fadeIn {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
@-o-keyframes fadeIn {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
@-ms-keyframes fadeIn {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
@-webkit-keyframes fadeIn {
  0%{opacity: 0;}
  100%{opacity: 1;}
}