@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;500&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin:0;
  padding:0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #0d0d0d;
}

.nav {
  width:100%;
  height:auto;
  text-align: center;

  margin:30px 0 60px 0;
  padding:0;

  font-family: "Teko", sans-serif;
  font-weight: 300;
}
.nav ul{
  list-style-type: none;
  padding:0;
  margin: 0;
}
.nav li {
  display:inline;
  margin:0 60px 0 100px;
}
.nav li a{
  text-decoration: none;
  color:white;
  font-size:1.6vw;
  transition: color 0.25s ease-in-out;
}
.nav li a:hover {
  color: #ff0d35;
}

.logo {
  width: 100%;
  text-align: center;
  padding:50px 0 50px 0;
}
.logo img {
  width:34%;
}

.blog {
  width:100%;
  margin-bottom: 32px;
}
.blog #post {
  width:50%;
  margin:auto;
  color:white;
  font-family: "Teko", sans-serif;
}
.blog #post h1 {
  font-weight: 500;
  font-size: 3vw;
  text-decoration: underline;
  margin:0;
  padding: 0;
}
.blog #post p {
  font-weight: 300;
  font-size: 1.5vw;
}


footer {
  background-color: #121212;
  width:100%;
  height:auto;
  text-align: center;
  color:white;

  margin:0;
  padding: 0;
}
footer .fab {
  font-size: 1.5vw;
  margin: 24px 25px 16px 25px;
}
footer h3 {
  margin:0;
  padding:16px 0 16px 0;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  font-size: 1.4vw;
}
footer a {
  text-decoration: none;
  color:white;

  transition: color 0.25s ease-in-out;
}
footer a:hover {
  color: #ff0d35;
}
