@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin:0;
  padding:0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #0d0d0d;
}

.nav {
  width:100%;
  height:auto;
  text-align: center;

  margin:0;
  padding:0;

  top:20px;

  font-family: "Lora", serif;
  font-weight: 400;

  position: fixed;
  display:block;
  background-color: #0d0d0d;

  z-index: 10;
}
.nav ul{
  list-style-type: none;
  padding:0;
  margin: 0;
}
.nav li {
  display:inline;
  margin:0 60px 0 100px;
}
.nav li a{
  text-decoration: none;
  color:white;
  font-size:1.6vw;
  transition: color 0.25s ease-in-out;
}
.nav li a:hover {
  color: #ff0d35;
}
.nav-icon {
  display:none;
  color:white;
  text-decoration: none;
}

.logo {
  width: 100%;
  text-align: center;
  padding:110px 0 90px 0;
}
.logo img {
  width:34%;
}

.blog {
  width:100%;
  margin-bottom: 32px;
}
.blog #post {
  width:50%;
  margin:auto;
  color:white;
  font-family: "Lora", serif;
}
.blog #post h1 {
  font-weight: 500;
  font-size: 3vw;
  margin:0;
  padding: 0;
}
.blog #post p {
  font-weight: 300;
  font-size: 1.5vw;
}


footer {
  background-color: #121212;
  width:100%;
  height:auto;
  text-align: center;
  color:white;

  margin:0;
  padding: 0;
}
footer .fab {
  font-size: 1.5vw;
  margin: 24px 25px 16px 25px;
}
footer h3 {
  margin:0;
  padding:16px 0 16px 0;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  font-size: 1.4vw;
}
footer a {
  text-decoration: none;
  color:white;

  transition: color 0.25s ease-in-out;
}
footer a:hover {
  color: #ff0d35;
}


.small-nav {
  display:none;
  color:white;
  float:right;
  text-align: left;
  width:100%;
  position: fixed;
  padding:24px;
  background-color:#0d0d0d;
}
.small-nav ul {
  list-style-type: none;
}
.small-nav li {
  padding-bottom:32px;
}
.small-nav a {
  color:white;
  text-decoration: none;

  transition: padding-left 0.2s ease;
}
.small-nav a:hover {
  padding-left: 10px;
}

@media screen and (max-width: 680px) {
  .nav li {
    display:none;
  }
  .nav .nav-icon {
    display:block;
    float:right;
    padding: 0 20px 0 0;
  }
  .nav {
    background-color:rgba(0,0,0,0);
  }
}
