@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin:0;
  padding:0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #0d0d0d;
}

.nav {
  width:100%;
  height:auto;
  text-align: center;

  margin:0;
  padding:20px 0 10px 0;

  top:20px;

  font-family: "Poppins", serif;
  font-weight: 400;

  display:block;
  background-color: #0d0d0d;

  z-index: 10;
}
.nav ul{
  list-style-type: none;
  padding:0;
  margin: 0;
}
.nav li {
  display:inline;
  margin:0 60px 0 100px;
}
.nav li a{
  text-decoration: none;
  color:white;
  font-size:1vw;
  transition: color 0.25s ease-in-out;
}
.nav li a:hover {
  color: #ff0d35;
}
.nav-icon {
  display:none;
  color:white;
  text-decoration: none;
  z-index:10;
}

.logo {
  width: 100%;
  text-align: center;
  padding:110px 0 90px 0;
}
.logo img {
  width:36%;
}

.blog {
  width:100%;
  margin-bottom: 32px;
}
.blog #post {
  width:50%;
  margin:auto;
  color:white;
  font-family: "Lora", serif;
}
.blog #post h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 3vw;
  margin:0;
  padding: 0;
}
.blog #post p {
  font-weight: 300;
  font-size: 1.5vw;
}


footer {
  background-color: #121212;
  width:100%;
  height:auto;
  text-align: center;
  color:white;

  margin:0;
  padding: 0;
}
footer .fab {
  font-size: 1.5vw;
  margin: 24px 25px 16px 25px;
}
footer h3 {
  margin:0;
  padding:16px 0 16px 0;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  font-size: 1.4vw;
}
footer a {
  text-decoration: none;
  color:white;

  transition: color 0.25s ease-in-out;
}
footer a:hover {
  color: #ff0d35;
}


.small-nav {
  display:none;
  color:white;
  text-align: left;
  width:100%;
  height:auto;
  padding:24px;
  background-color:#0d0d0d;
  z-index: 5;
}
.small-nav ul {
  list-style-type: none;
}
.small-nav li {
  padding-bottom:32px;
}
.small-nav a {
  color:white;
  text-decoration: none;

  transition: padding-left 0.2s ease;
}
.small-nav a:hover {
  padding-left: 10px;
}


.contact-section {
  color:white;
  text-align: left;
  width:100%;
  padding-bottom: 40px;
}
.contact-section #content {
  width:50%;
  margin:auto;
}
.contact-section h3 {
  font-family: "Poppins", sans-serif;
  font-size: 2vw;
}
.contact-section ul {
  list-style-type: none;
  margin:0;
  padding:0;
}
.contact-section ul li {
  padding:10px 0 10px 0;
}
.contact-section ul a {
  color:white;
}
.contact-section h4 {
  font-family: 'Poppins', sans-serif;
}


.image-grid {
  width:100%;
  margin-bottom: 64px;
}
.image-grid #content {
  width:75%;
  margin:auto;
  display:flex;
  flex-wrap: wrap;
  text-align: center;
}
.image-grid #item {
  position: relative;
  width:22vw;
  text-align: center;
  margin:0 16px 0 16px;
}
.image-grid #item img {
  width:100%;

  transition: opacity 0.3s ease;
}
.image-grid #item img:hover {
  opacity: 0.45;
}
.image-grid #over-text {
  position: absolute;
  top:8px; left:8px;
  font-size: 3vw;
  opacity:0;
  color:white;
  font-family: "Poppins", sans-serif;
  transition: opacity 0.3s ease;
}
.image-grid #item:hover #over-text {
  opacity: 1;
}

@media screen and (max-width: 700px) {
  .nav li {
    display:none;
  }
  .nav-icon {
    display:block;
    float:right;
    padding: 0 20px 0 0;
  }
  .nav {
    background-color:rgba(0,0,0,0);
  }
}
@media screen and (max-width: 1000px) {
  .nav li a {
    font-size: 1.2vw;
  }
}
@media screen and (max-width: 720px) {
  .nav li a {
    font-size: 1.4vw;
  }
}
